@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; /* Ensures the body takes full height */
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF; /* Set background to white */
  color: #333; /* Adjusted to dark color for better readability against light background */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for night mode */
}

.night-mode {
  background-color: #121212;
  color: #ffffff;
}

.navbar {
  height: 80px; /* Adjust the height of the navbar as needed */
}

.about-container {
  background-color: transparent !important;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure it occupies full height of viewport */
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.about-content {
  display: flex;
  align-items: center;
  padding: 20px; /* Add padding for some space around the content */
  background-color: white;
  color: #333;
  border-radius: 10px;
  justify-content: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Subtle shadow for a card effect */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for night mode */
}

.night-mode .about-content {
  background-color: transparent; /* Remove background color for night mode */
}

.about-photo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the photo and details horizontally */
  margin-right: 5%; /* Space between photo and text */
}

.profile-photo {
  width: 60%; /* Make the photo smaller */
  border-radius: 50%; /* Circular photo */
  border: 2px solid #333; /* Thin border */
  margin-bottom: 20px; /* Space between photo and details */
}

.about-details {
  text-align: center;
  margin-bottom: 20px; /* Space between photo and details */
}

.about-details p {
  margin: 5px 0; /* Space between each detail */
}

.about-text {
  width: 35%; /* Decrease width for a narrower text area */
  font-size: 18px;
  line-height: 1.8;
  text-align: center; /* Left-align the text */
  padding-right: 20px; /* Adjust padding as needed */
}

.about-paragraph {
  background: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #ddd; /* Subtle border for better visual structure */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for a card effect */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for night mode */
  line-height: 30px;
}

.resume-button {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  color:white ;
  /* border: 1px solid #4CAF50; */
  background-color: #4CAF50; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.highlight-name {
  color: #4CAF50; /* Highlight color for name */
  font-weight: bold;
}

.highlight-tech {
  color: #FF5722; /* Highlight color for technology names */
  font-weight: bold;
}

.night-mode .about-text, .night-mode .about-container {
  color: #ffffff; /* Light text color for night mode */
}

.night-mode .about-photo img {
  border: 2px solid #ffffff; /* White border around photo in night mode */
}

.night-mode .about-paragraph {
  background: #333;
  border: 1px solid #444;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Adjusted shadow for night mode */
}

.night-mode .resume-button {
  background-color: #76FF03; /* Light green for night mode */
}

.night-mode .resume-button:hover {
  background-color: #64DD17; /* Darker green for night mode on hover */
}

.night-mode .highlight-name {
  color: #76FF03; /* Highlight color for name in night mode */
}

.night-mode .highlight-tech {
  color: #FFAB40; /* Highlight color for technology names in night mode */
}
