/* Add fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scroll */
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-color: #FFFFFF; /* Set background to white */
    color: #333; /* Adjusted to dark color for better readability against light background */
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  
  .section {
    /* padding: 60px 20px; Adjusted padding to reduce gap */
    /* min-height: 100vh; Ensure each section occupies full viewport height */
    margin: 0; /* Ensure no extra margin */
    opacity: 0; /* Start with opacity 0 */
    animation: fadeIn 1s ease-in forwards; /* Fade-in animation */
  }
  
  .section-visible {
    opacity: 1; /* Make section fully visible */
  }
  .section h2 {
    margin-bottom: 20px;
  }
  
  .section p {
    font-size: 18px;
    line-height: 1.5;
  }
  