@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for night mode */
}

.night-mode {
  background-color: #121212;
  color: #ffffff;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0 ; /* Removed padding to decrease space above and below the navbar */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Adjust width as needed */
  padding: 5px 0; /* Reduced padding to decrease space inside the navbar */
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.navbar-logo {
  display: flex;
  align-items: center; /* Center the logo vertically */
}

.navbar-logo-link {
  font-family: 'Newsreader', serif;
  font-size: 24px; /* Decreased font size */
  color: green; /* Adjust color as needed */
  text-decoration: none;
  margin-left: 0; /* Remove any left margin */
  padding-left: 0; /* Remove any left padding */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px; /* Adjust gap as needed */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.navbar-item {
  position: relative;
  padding: 5px; /* Reduced padding for smaller links */
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px; /* Decreased font size */
}

.night-mode .nav-link {
  color: #ffffff; /* White color for links in night mode */
}

/* Night mode toggle */
.night-mode-toggle {
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px; /* Reduced margin to minimize space */
}

/* Remove hover effects */
.underline {
  display: none; /* Hide the underline */
}
