@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family: 'Roboto';
  background-color: #131417;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 10px 20px;
  background-color: transparent;
  border-bottom: 2px solid #000;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.navbar-logo {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-logo a {
  color: inherit;
  text-decoration: none;
}

.navbar:hover .navbar-logo {
  color: white;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.navbar-item {
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.navbar-item a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  transition: color 0.3s ease-in-out;
}

.navbar-item:hover a {
  color: white;
}

.navbar-item .underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: white;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.navbar-item:hover .underline {
  width: 100%;
}

.navbar:hover {
  background-color: #000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.navbar:hover .navbar-item a {
  color: #fff;
}

.navbar-item:hover a {
  color: #fff;
}

.navbar-animation {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: left 0.5s ease-in-out;
}

.navbar:hover .navbar-animation {
  left: 100%;
}

.navbar-animation-2 {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: right 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-2 {
  right: 100%;
}

.navbar-animation-3 {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: right 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-3 {
  right: 100%;
}

.navbar-animation-4 {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: left 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-4 {
  left: 100%;
}

.navbar-animation-5 {
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.1);
  transition: left 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-5 {
  left: 100%;
}

.navbar-animation-6 {
  position: absolute;
  bottom: 50%;
  right: -100%;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.1);
  transition: right 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-6 {
  right: 100%;
}

.navbar-animation-7 {
  position: absolute;
  top: 50%;
  right: -100%;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.1);
  transition: right 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-7 {
  right: 100%;
}

.navbar-animation-8 {
  position: absolute;
  bottom: 50%;
  left: -100%;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.1);
  transition: left 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-8 {
  left: 100%;
}

.navbar-animation-9 {
  position: absolute;
  top: 25%;
  left: -100%;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: left 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-9 {
  left: 100%;
}

.navbar-animation-10 {
  position: absolute;
  bottom: 25%;
  right: -100%;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: right 0.5s ease-in-out;
}

.navbar:hover .navbar-animation-10 {
  right: 100%;
}
