body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background: rgb(224,195,252);
  background: linear-gradient(90deg, rgba(224,195,252,1) 0%, rgba(206,181,255,1) 35%, rgba(188,209,255,1) 100%);
  color: #fff;
}
#content {
  flex: 1; /* Ensures the content area takes up remaining vertical space */
}